<aside class="container py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      <!-- primer producto -->
      <div class="col-sm-12 col-md-5">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="https://www.focal.com/sites/www.focal.fr/files/shared/catalog/produit/visuel/es-165-kx2e-facing.jpg"
            alt="..."
          />

          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">
                UN SONIDO RICO Y PERCUSIVO KIT DE 2 VÍAS SEPARADAS 165 MM
              </h5>

              $40000 - $80000
            </div>
          </div>

          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a
                class="btn btn-outline-dark mt-auto"
                href="https://www.youtube.com/watch?v=HIcSWuKMwOw&ab_channel=10Hours"
                >añadir al carrito</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- producto 2 -->
      <div class="col-sm-12 col-md-5">
        <div class="card h-100">
          <div
            class="badge bg-dark text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Descuento
          </div>

          <img
            class="card-img-top"
            src="https://www.focal.com/sites/www.focal.fr/files/shared/catalog/produit/visuel/montage-kit-speaker-produit-voiture-focal-165w-xp.jpg"
            alt="..."
          />

          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">KIT PASIVO DE DOS VÍAS</h5>

              <div
                class="d-flex justify-content-center small text-warning mb-2"
              >
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>

              <span class="text-muted text-decoration-line-through"
                >$200000</span
              >
              $180000
            </div>
          </div>

          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#"
                >Agregar al carrito</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- producto3 -->
      <div class="col-sm-12 col-md-5">
        <div class="card h-100">
          <div
            class="badge bg-dark text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Promocion
          </div>

          <img
            class="card-img-top"
            src="https://www.focal.com/sites/www.focal.fr/files/shared/catalog/produit/visuel/isu690-visuel.jpg"
            alt="..."
          />

          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">
                ALTAVOCES FINOS KIT 2 VÍAS SEPARADAS - WOOFER: 690 MM
              </h5>

              <span class="text-muted text-decoration-line-through"
                >$500000</span
              >
              $250000
            </div>
          </div>

          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#"
                >Agregar al carrito</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- producto4 -->
      <div class="col-sm-12 col-md-5">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="https://www.focal.com/sites/www.focal.fr/files/shared/catalog/produit/visuel/ps165fse.jpg"
            alt="..."
          />

          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">KIT DE 2 VÍAS 16,5 CM (6½'') COMPACTO</h5>

              $400000
            </div>
          </div>

          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href=""
                >Agregar al carrito</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- producto 5 -->
      <div class="col-sm-12 col-md-5">
        <div class="card h-100">
          <div
            class="badge bg-dark text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Descuento
          </div>

          <img
            class="card-img-top"
            src="http://www.musway.com/upload/image/20220321/20220321181247_38605.png"
            alt="..."
          />

          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">musway EIGHT100</h5>

              <span class="text-muted text-decoration-line-through"
                >$500000</span
              >
              $250000
            </div>
          </div>

          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#"
                >Agregar al carrito</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- producto 6 -->
      <div class="col-sm-12 col-md-5">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="http://www.musway.com/upload/image/20220321/20220321175437_55417.png"
            alt="..."
          />

          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">musway M12</h5>

              $1200000 - $2800000
            </div>
          </div>

          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#"
                >Agregar al carrito</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- producto 7 -->
      <div class="col-sm-12 col-md-5">
        <div class="card h-100">
          <div
            class="badge bg-dark text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
          >
            Promocion
          </div>

          <img
            class="card-img-top"
            src="https://pioneer-latin.com/wp-content/uploads/2019/07/TS-W3003D4_front.jpg"
            alt="..."
          />

          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">Subwoofer Champion Series PRO de 12″</h5>

              <div
                class="d-flex justify-content-center small text-warning mb-2"
              >
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>

              <span class="text-muted text-decoration-line-through"
                >$200000</span
              >
              $180000
            </div>
          </div>

          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#"
                >Agregar al carrito</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- producto8 -->
      <div class="col-sm-12 col-md-5">
        <div class="card h-100">
          <img
            class="card-img-top"
            src="https://pioneer-latin.com/wp-content/uploads/2022/07/KV749_TS-W3020PRO_SWF_rear_EL-700x613.jpg"
            alt="..."
          />

          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">Subwoofer Serie PRO 30cm (12“)</h5>

              <div
                class="d-flex justify-content-center small text-warning mb-2"
              >
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
                <div class="bi-star-fill"></div>
              </div>

              $400000
            </div>
          </div>

          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#"
                >Agregar al carrito</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
