<section class="container-flex row d-flex justify-content-center">
  @if (verification.result === "good") {
  <div class="container d-flex justify-content-center">
    <form (submit)="search()" class="d-flex align-items-center">
      <input
        type="text"
        class="form-control p-2 m-2"
        [(ngModel)]="query"
        name="query"
        placeholder="Buscar productos"
        (keyup)="search()"
      />
      <select
        class="form-select p-2 m-2"
        aria-label="Categorias"
        (change)="filtrarProductos($event.target)"
      >
        <option selected>Categorias</option>
        <option value="electronics">Electronics</option>
        <option value="jewelery">Jewelery</option>
        <option value="men's clothing">Men's Clothing</option>
        <option value="women's clothing">Women's Clothing</option>
      </select>
    </form>
  </div>

  <article
    *ngFor="let product of filteredProducts"
    class="card p-2 m-2 product-card-custom shadow row"
  >
    <div class="col">
      <img
        [src]="product.image"
        [alt]="product.title"
        class="card-img-top card-image-custom"
        (click)="handleCardClick(product)"
      />
      <div class="card-body a" (click)="handleCardClick(product)">
        <div class="card-title card-title-custom">{{ product.title }}</div>
        <div class="card-text card-text-custom">{{ product.price }} $</div>
        <div class="card-text card-text-custom">
          {{ product.description }}
        </div>
        <ngb-rating
          [rate]="product.rating?.rate || 0.5"
          [max]="5"
          class="align-self-center"
          [readonly]="true"
          [ngClass]="'custom-rating'"
        ></ngb-rating>
      </div>
      <div class="row">
        <button
          (click)="productCar(product)"
          class="btn btn-outline-dark col-6 p-1 my-2"
        >
          <i class="bi bi-cart"></i>
        </button>
        <button
          type="button"
          class="btn btn-outline-danger btn-favorite col-6 p-1 my-2"
          data-bs-toggle="button"
          (click)="Favorite(product)"
        >
          {{
            (isFavorite$ | async)
              ? "Quitar de favoritos"
              : "Agregar a favoritos"
          }}
          <i class="bi bi-heart"></i>
        </button>
      </div>
    </div>
  </article>

  } @else {
  <app-login></app-login>
  }
</section>
