<div class="container-sm my-5">
  <div class="row aling-items-stretchS">
    <div class="col-6 bg-white p-5 rounded">
      <a routerLink="/index">Volver al inicio</a>
      <!-- arreglar -->

      <h2 class="fw-bold text-center p-5">Registrate</h2>
      <!-- login  -->
      <form [formGroup]="credencialesRegister" (ngSubmit)="manejarEnvio()">
        <div class="mb-4">
          <label for="nombre" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            formControlName="nombre"
          />
        </div>
        <div class="mb-4">
          <label for="nombreUsuario" class="form-label">usuario</label>
          <input
            type="text"
            class="form-control"
            name="nombreUsuario"
            formControlName="nombreUsuario"
          />
        </div>

        <div class="mb-4">
          <label for="contrasenia1" class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            name="contrasenia"
            formControlName="contrasenia1"
          />
        </div>

        <div class="mb-4">
          <label for="contrasenia2" class="form-label"
            >Repetir contraseña</label
          >
          <input
            type="password"
            class="form-control"
            name="contrasenia2"
            formControlName="contrasenia2"
          />
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary mb-4">
            Crear usuario
          </button>
        </div>
      </form>
      <div class="my-3">
        <span>Ya tienes Cuenta? <a routerLink="/login">Inicia sesion</a></span>
      </div>
    </div>
  </div>
</div>
