<div class="button-container">
  <button
    (click)="showFavoriteProducs = !showFavoriteProducs"
    class="btn btn-outline-light mx-2"
  >
    <i class="bi bi-heart-fill"></i>
  </button>
  <span class="product-count">{{ (products$ | async)?.length }}</span>
</div>

<div *ngIf="showFavoriteProducs" class="shopping-cart-overlay text-white">
  <div class="shopping-cart-container">
    <div *ngIf="products$ | async as products; else loading">
      <h2>Favoritos:</h2>
      <ul class="list-unstyled">
        <li *ngFor="let product of products" class="d-flex align-items-center">
          <div class="mr-3">
            <img
              [src]="product.image"
              [alt]="product.title"
              width="50"
              height="50"
            />
          </div>
          <div
            class="d-flex justify-content-between align-items-center flex-grow-1"
          >
            <div>
              <span>{{ product.title }}</span>
              <span>{{ product.price }}</span>
            </div>
            <div>
              <button
                (click)="UnfavoriteProduct(product)"
                class="btn btn-danger"
              >
                <i class="bi bi-heartbreak-fill"></i>
              </button>
            </div>
          </div>
        </li>
      </ul>

      <button
        class="close-button btn btn-danger"
        (click)="closeFavoriteProducs()"
      >
        <i class="bi bi-x-circle"></i>
      </button>
    </div>

    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>
  </div>
</div>
