<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">
    <div
      class="row justify-content-center"
      data-aos="fade-up"
      data-aos-delay="150"
    >
      <div class="col-xl-6 col-lg-8">
        <h1>Bassbox</h1>
        <h2>mas de 30 años de experiencia</h2>
      </div>
    </div>

    <div
      class="row gy-4 mt-5 justify-content-center"
      data-aos="zoom-in"
      data-aos-delay="250"
    >
      <div class="col-xl-2 col-md-4">
        <div class="icon-box">
          <i class="ri-store-line"></i>
          <h3><a href="">Cursos</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4">
        <div class="icon-box">
          <i class="ri-bar-chart-box-line"></i>
          <h3><a href="">Ventas</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4">
        <div class="icon-box">
          <i class="ri-calendar-todo-line"></i>
          <h3><a href="">Montajes</a></h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<!-- separador -->
<div id="separator">
  <hr />
  <div class="conteiner">
    <!-- sobre nosotros -->
    <h1 class="text-center text-white fw-bold m-4 fst-italic">
      Nuestra historia
    </h1>
    <hr />
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p class="text-justify text-white p-5 fs-4">
          Con más de tres décadas de experiencia en el mundo del car audio,
          nuestra empresa se ha destacado como líder indiscutible en el mercado.
          Desde competencias nacionales hasta desafíos internacionales, hemos
          demostrado nuestra excelencia y habilidad para sobresalir en cualquier
          escenario. Nuestro equipo de profesionales altamente capacitados está
          comprometido con la mejora continua, buscando siempre innovar y
          ofrecer las soluciones más avanzadas en audio para automóviles. Además
          de nuestra amplia gama de productos de alta calidad, también ofrecemos
          cursos de car audio, donde compartimos nuestro conocimiento y
          experiencia con entusiastas y profesionales del sector. Confía en
          nosotros para llevar tu experiencia de audio en el automóvil al
          siguiente nivel. Bassbox es una empresa con mas de 30 años de
          experencia en cursos de instalacion y en instalaciones ,Hemos
          competido a nivel internacional y nacional .
        </p>
      </div>
      <div class="col-sm-12 col-md-6 container px-1">
        <img
          src="../../../assets/about-us.jpg"
          alt="about us"
          class="d-flex w-100 m-5 shadow"
        />
      </div>
    </div>
  </div>
  <!-- marcas asociadas -->
  <section id="clients" class="clients section-bg">
    <div class="container">
      <div class="row" data-aos="zoom-in">
        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img src="../../../assets/alpine.png" class="img-fluid" alt="" />
        </div>

        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img src="../../../assets/focal.png" class="img-fluid" alt="" />
        </div>

        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img src="../../../assets/Kenwood.png" class="img-fluid" alt="" />
        </div>

        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img src="../../../assets/musway.png" class="img-fluid" alt="" />
        </div>

        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img src="../../../assets/pioneer.png" class="img-fluid" alt="" />
        </div>

        <div
          class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
        >
          <img src="../../../assets/soundstream.png" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </section>

  <!-- servicios -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title text-white text-center">
        <h2>Servicios</h2>
        <p class="text-white text-justify">
          ¿Quieres llevar la experiencia d e audio en tu coche al siguiente
          nivel? ¡Entonces no busques más! Los cursos de car audio son la puerta
          de entrada al mundo del sonido de alta calidad sobre ruedas. ¿Por qué
          conformarte con un sistema de sonido estándar cuando puedes
          transformar tu vehículo en un verdadero santuario de audio?
        </p>
      </div>

      <div class="row align-items-center">
        <div
          class="col-xl-4 col-md-6 d-flex align-items-stretch shadow rounded"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Montajes</a></h4>
            <p>
              Instalación profesional de sistemas de audio para vehículos,
              optimizando calidad de sonido y ajustes técnicos según
              preferencias del cliente.
            </p>
          </div>
        </div>

        <div
          class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 shadow rounded"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">Cursos</a></h4>
            <p>
              Aprendizaje práctico y teórico sobre instalación, configuración y
              mejora de sistemas de sonido para automóviles, impartido por
              expertos en audio.
            </p>
          </div>
        </div>

        <div
          class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 shadow rounded"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Ventas</a></h4>
            <p>
              Venta de equipos de audio para automóviles de alta calidad y
              accesorios complementarios, con asesoramiento experto y atención
              personalizada.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- info -->
  <div id="info" class="text-white mt-5">
    <div class="container w-50 mb-2">
      <div class="row">
        <div class="col text-center">
          <div class="container bg-warning shadow rounded">
            <h1>Contactanos a traves del siguiente formulario</h1>
            <form action="" class="row">
              <div class="col-12 m-1">
                <input
                  type="email"
                  class="form-control"
                  id="emailInput"
                  placeholder="Escribe tu correo"
                />
              </div>
              <div class="col-12 m-1">
                <input
                  type="text"
                  class="form-control"
                  id="inputName"
                  placeholder="Escribe tu nombre"
                />
              </div>

              <div class="col-12 m-1">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nuemero de contacto"
                  id="inputNumber"
                />
              </div>

              <div class="col-12 m-1">
                <select name="" id="inputCourse" class="form-select">
                  <option selected>Escoje en que curso esta interesado</option>
                  <option value="1">Curso de instalacion</option>
                  <option value="2">Curso de cajas acusticas</option>
                  <option value="3">Curso de sistemas OEM</option>
                </select>
              </div>
            </form>
            <button type="submit" class="btn btn-primary my-3">
              Envianos tus datos
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
