nav {
  text-align: center;
  background-color: #b90504;
  filter: alpha(opacity=30);
  z-index: 1;
  position: sticky;
}

li {
  text-decoration-color: black;
}

.button-and-shopping-cart {
  display: flex; /* Establecer como flexbox */
  align-items: center; /* Centrar verticalmente */
}

.app-shopping-car {
  flex: 1; /* El componente de la lista de compras ocupará todo el espacio disponible */
}
