<div>
  <!-- Footer -->
  <footer
    id="redes-sociales"
    class="text-center text-lg-start text-white miColor"
  >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Bassbox</h6>
            <p>
              Experimenta una revolución sonora en cada viaje con nuestra
              instaladora de car audio de vanguardia
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Productos</h6>
            <p>
              <a class="text-white">Montajes</a>
            </p>
            <p>
              <a class="text-white">Ventas</a>
            </p>
            <p>
              <a class="text-white">Parlantes</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
            <p><i class="fas fa-home mr-3"></i> Bogota DC. cra 28 # 76-42</p>
            <p><i class="fas fa-envelope mr-3"></i> bassbox.com</p>
            <p><i class="fas fa-phone mr-3"></i> +57 302 614 38 01</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Siguenos</h6>

            <!-- Facebook -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #3b5998"
              href="https://es-la.facebook.com/bassboxschool/"
              role="button"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="bi bi-facebook"></i
            ></a>

            <!-- Twitter -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #55acee"
              href="https://twitter.com/x"
              role="button"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="bi bi-twitter-x"></i
            ></a>

            <!-- Google -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #dd4b39"
              href="https://www.google.com/?hl=es"
              role="button"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="bi bi-google"></i
            ></a>

            <!-- Instagram -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #ac2bac"
              href="https://www.instagram.com/bassboxschool/"
              role="button"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="bi bi-instagram"></i
            ></a>

            <!-- Linkedin -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #0082ca"
              href="https://www.linkedin.com/"
              role="button"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="bi bi-linkedin"></i
            ></a>
            <!-- Github -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #333333"
              href="https://github.com/Dan1elr0mero"
              role="button"
              target="_blank"
              rel="noopener noreferrer"
              ><i class="bi bi-github"></i
            ></a>
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2023 Copyright:
      <a class="text-white" href="">bassbox.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
