<div class="container text-white text-center bg-warning my-2 rounded-pill">
  <h1>CURSOS DE INSTALACION</h1>
</div>

<div class="text-white mx-5">
  <p class="fs-4 container-sm">
    No importa si eres un entusiasta del audio novato o un experto en tecnología
    automotriz; nuestros cursos están diseñados para adaptarse a todos los
    niveles de experiencia. Desde conceptos básicos como la selección de
    componentes hasta técnicas avanzadas de ajuste de ecualización y
    posicionamiento de altavoces, nuestros instructores expertos te guiarán en
    cada paso del proceso.
  </p>
</div>
<hr />
<div class="row p-3">
  <div class="col mx-3">
    <img
      src="../../../assets/electronica.jpg"
      alt=""
      class="d-flex w-75 mx-5 shadow-drop-center"
    />
  </div>
  <div class="col">
    <div class="container text-white text-center rounded bg-primary">
      <h2>Curso de Electronica dijital</h2>
      <p>
        La electrónica automotriz se ha convertido en un campo fundamental en el
        diseño y mantenimiento de vehículos modernos. Este curso ofrece una
        inmersión completa en los principios y aplicaciones de la electrónica en
        el ámbito automotriz. En primer lugar, exploramos los fundamentos de los
        sistemas eléctricos en los vehículos, desde la batería hasta los
        sistemas de carga y encendido. Los estudiantes aprenderán a diagnosticar
        y solucionar problemas eléctricos comunes, utilizando herramientas y
        técnicas especializadas.
      </p>
      <br />
      <p>
        En el segundo bloque del curso, nos adentramos en los sistemas de
        control electrónico, que son la columna vertebral de la funcionalidad
        moderna de los vehículos. Desde los sistemas de inyección de combustible
        hasta los sistemas de frenado antibloqueo (ABS) y de control de
        tracción, los estudiantes comprenderán cómo funcionan estos sistemas y
        cómo diagnosticar y reparar fallos. Se explorarán también los protocolos
        de comunicación utilizados en la electrónica automotriz, como CAN
        (Controller Area Network) y LIN (Local Interconnect Network).
      </p>
    </div>
  </div>
</div>
<hr />
<div class="row p-3">
  <div class="col mx-3">
    <img
      src="../../../assets/procesadoresdijitales.jpg"
      alt=""
      class="d-flex w-75 mx-5"
    />
  </div>
  <div class="col">
    <div class="container text-white text-center rounded bg-primary pb-5">
      <h2>CURSOS sobre manejo de procesadores dijitales</h2>
      <p>
        Sumérgete en el emocionante mundo de los procesadores de sonido
        digitales con nuestro curso especializado. Este programa está diseñado
        para proporcionar a los estudiantes una comprensión completa de los
        principios fundamentales y las aplicaciones avanzadas de los
        procesadores de sonido digitales. Desde la teoría básica hasta las
        técnicas de procesamiento de señales más avanzadas, este curso te
        equipará con las habilidades necesarias para trabajar en el diseño, la
        configuración y el mantenimiento de sistemas de audio digital de alta
        calidad.
      </p>
    </div>
  </div>
  <div class="col-12"></div>
</div>

<hr />
<div class="row p-3">
  <div class="col mx-3">
    <img
      src="../../../assets/cajasacusticas.jpg"
      alt=""
      class="d-flex w-75 mx-5"
    />
  </div>
  <div class="col">
    <div class="container text-white text-center rounded bg-primary pb-5">
      <h2>CURSOS sobre diseño y calculo de cajas acucticas</h2>
      <p>
        Sumérgete en el mundo del Car Audio con nuestro curso especializado en
        Cajas Acústicas. Exploraremos desde los fundamentos básicos hasta las
        técnicas avanzadas en el diseño, construcción y optimización de cajas
        acústicas para sistemas de sonido en vehículos. Comenzando con una
        introducción a los principios de la acústica vehicular y la teoría de
        diseño de cajas, abordaremos temas como la selección de materiales,
        cálculo de volúmenes y ajuste de sintonía para maximizar la respuesta de
        frecuencia y la eficiencia del sistema. Además, exploraremos estrategias
        prácticas para la instalación y ubicación óptima de las cajas en el
        vehículo, garantizando una experiencia auditiva envolvente y de alta
        calidad mientras se conduce.
      </p>
    </div>
  </div>
</div>
